## -------------------------------------------------------
## OVERRIDES
## -------------------------------------------------------

[gcode_macro M117]
rename_existing: M117.1
gcode:
    # 1. Display the message using the original command
    M117.1 {rawparams}
    
    # 2. Check if this is an Alert or Error message
    # We check for common keywords/characters used in errors
    {% set is_alert = ('!!' in rawparams) or ('Error' in rawparams) or ('ALERT' in rawparams) %}
    
    # 3. Handle the Auto-Clear Logic
    # Always reset the timer first to prevent premature clearing of a new message
    UPDATE_DELAYED_GCODE ID=_CLEAR_M117 DURATION=0
    
    {% if not is_alert %}
        # If it's NOT an alert, schedule the clear for 30 seconds
        UPDATE_DELAYED_GCODE ID=_CLEAR_M117 DURATION=30
    {% endif %}


[delayed_gcode _CLEAR_M117]
gcode:
    # Clear the display by sending an empty M117 command
    M117.1


[gcode_macro M109] # Wait Hotend Temp
rename_existing: M109.1
gcode:
    #Parameters
    {% set s = params.S|float %}

    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  # Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-2} MAXIMUM={s+5}   # Wait for hotend temp (within n degrees)
    {% endif %}


[gcode_macro M190] # Wait Bed Temp
rename_existing: M190.1
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   # Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-1} MAXIMUM={s+5}  # Wait for bed temp (within n degrees)
    {% endif %}


[gcode_macro M191] # Wait Chamber Temp
# rename_existing: M191.1
gcode:
    #Parameters
    {% set s = params.S|float %}

    M141 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   # Set chamber temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={s-1} MAXIMUM={s+5}  # Wait for chamber temp (within n degrees)
    {% endif %}

    
[gcode_macro G32]
gcode:
    CG28
    QUAD_GANTRY_LEVEL {rawparams}


[gcode_macro G29]
gcode:
    CG28
    MESH_CALIBRATE {rawparams}


[gcode_macro G28]
rename_existing: G28.1
gcode:
    {% set RPARAMS = rawparams|upper %}
    {% set home_x = 'X' in RPARAMS %}
    {% set home_y = 'Y' in RPARAMS %}
    {% set home_z = 'Z' in RPARAMS %}

    _SET_STATUS_HOMING

    # If no parameters are given, home all axes
    {% if not rawparams %}
        {% set home_x = True %}
        {% set home_y = True %}
        {% set home_z = True %}
    {% endif %}
    
    # Step 1: Home X and Y first
    {% if home_x or home_y %}
        {% set XY_STR = "" %}
        {% if home_x %}{% set XY_STR = XY_STR ~ " X" %}{% endif %}
        {% if home_y %}{% set XY_STR = XY_STR ~ " Y" %}{% endif %}
        G28.1 {XY_STR}
    {% endif %}

    # Step 2: Two-Stage Z Homing (Beacon handles moving to 175,175 automatically)
    {% if home_z %}
        # First: Fast inductive proximity drop
        G28.1 Z METHOD=PROXIMITY
        
        # --- Fast Move Between Drops ---
        {% set base_z_speed = printer.configfile.settings.stepper_z.homing_speed | float %}
        {% set fast_z_speed = (base_z_speed * 3) * 60 %}
        {% set base_f_speed = base_z_speed * 60 %}
        
        G91
        G0 Z5 F{fast_z_speed}
        G0 F{base_f_speed}
        G90
        
        # Second: Slow controlled physical contact tap
        G28.1 Z METHOD=CONTACT CALIBRATE=1
    {% endif %}
    
    _SET_STATUS_READY
  

[gcode_macro QUAD_GANTRY_LEVEL]
# Rename the existing command so we can call it BASE_QGL
rename_existing: BASE_QGL 
gcode:
    _SET_STATUS_HOMING
    CG28
    
    _SET_STATUS_LEVELING
    BASE_QGL {rawparams}
    
    _SET_STATUS_HOMING
    G28 Z           ; Re-home Z after QGL adjustments
    _SET_STATUS_READY


[gcode_macro MESH_CALIBRATE]
description: Macro to call BED_MESH_CALIBRATE with LED colors for MESHING.
gcode:
    _SET_STATUS_MESHING
    BED_MESH_CALIBRATE ADAPTIVE=1 {rawparams} # USE_CONTACT_AREA=1
    _SET_STATUS_READY


# ---------- DANGER! ----------
# These macros directly override the FIRMWARE_RESTART and RESTART commands.
# Anything may happen! Proceed with utmost caution!
# ---------- DANGER! ----------

[gcode_macro RESTART]
rename_existing: RESTART_BASE
description: Saves kinematic position before restarting Klipper
gcode:
    # --- Save current position ---
    {% set pos = printer.toolhead.position %}
    SAVE_VARIABLE VARIABLE=last_x VALUE={pos.x}
    SAVE_VARIABLE VARIABLE=last_y VALUE={pos.y}
    SAVE_VARIABLE VARIABLE=last_z VALUE={pos.z}
    
    # --- Execute the actual restart ---
    RESPOND PREFIX="🔄" TYPE=command MSG="Saving position and restarting Klipper..."
    RESTART_BASE {rawparams}


[gcode_macro FIRMWARE_RESTART]
rename_existing: FIRMWARE_RESTART_BASE
description: Saves kinematic position before restarting Klipper and MCU
gcode:
    # --- Save current position ---
    {% set pos = printer.toolhead.position %}
    SAVE_VARIABLE VARIABLE=last_x VALUE={pos.x}
    SAVE_VARIABLE VARIABLE=last_y VALUE={pos.y}
    SAVE_VARIABLE VARIABLE=last_z VALUE={pos.z}
    
    # --- Execute the actual firmware restart ---
    RESPOND PREFIX="🔄" TYPE=command MSG="Saving position and restarting firmware..."
    FIRMWARE_RESTART_BASE {rawparams}